body {
	@apply bg-pink-200;
	position: relative;
}
.body--texture {
	@apply absolute inset-0;
	background-image: url("static/img/texture-2.png");
	background-repeat: no-repeat;
	background-size: 1440px auto;
	background-position: center top;
	mix-blend-mode: overlay;
	opacity: 0.25;
	z-index: -1;
}
