{% extends '_layouts/message' %}
{% set title = 'Bad Request'|t('app') %}
{% do seomatic.meta.seoTitle(title) %}

{% block message %}
	<h2 class="t-h2">
		{{ title }}
	</h2>
	<div class="prose">
		<p>
			{{ message ?? null
				?
				: 'The request could not be understood by the server due to malformed syntax.'|t(
					'app'
				) }}
		</p>
	</div>
{% endblock %}
