{#

	Carousel Object
	https://alpinejs.dev/component/glide

#}
	
	{# Macros #}
	{% import '_macros/img' as _img %}

	{# Required #}
	{% set slides = slides ?? false %} {# Array of Images #}

{# Begin Content #}

<div
	class="border-[10px] border-pink-400 border-solid"
	x-data="{
		init() {
			var glide = this.$refs.glide
			new Glide(glide, {
				perView: 1,
				type: 'carousel',
				gap: 0,
			}).mount()
		}
	}"
>
	<div x-ref="glide" class="glide">
		
		{# glide #}
		<div class="glide__track" data-glide-el="track">
			<ul class="glide__slides">
				
				{# Slide #}
				{% for slide in slides %}
					<li class="glide__slide">
						{{ _img.tag(slide, {
							lazyload: false,
							class: "w-full",
							ratio: 16/9,
							maxW: 640,
						}) }}
					</li>
				{% endfor %}
				
			</ul>
		</div>
	

		{# bullets #}
		<div class="glide__bullets" data-glide-el="controls[nav]">
			{% for slide in slides %}
				<button class="glide__bullet" data-glide-dir="={{ loop.index0 }}">
					<span class="sr-only">Go to slide {{ loop.index }}</span>
				</button>
			{% endfor %}
		</div>
	</div>
</div>