{% extends '_layout' %}

{% block main %}
	
	{% set homeBanner = {
		subheading: entry.subheading,
		copy: entry.copy
	} %}
	{% include "_partials/entry/homeBanner" %}
	
	<section class="mt-16">
		<div class="container">
			<div class="max-w-[640px] mx-auto">
				{% include '_components/carousel' with {slides: entry.gallery.all()} %}
			</div>
		</div>
	</section>
	
{% endblock %}